.form {
  border: 1px solid #2E2E2E;
  border-radius: 8px;
  max-width: 610px;
  width: 100%;
  background-color: #00000030;
  h2, h3, input {
    font-size: 16px;
  }
  &__title {
    padding-bottom: 16px;
    font-weight: 450;
  }
  &__container {
    padding: 20px;
    border-bottom: 1px solid #2E2E2E;
  }
  .button__container {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }
  .link__container {
    width: 100%;
  }
}